
#title {
    color: white;
	font-weight: bold;
    position: absolute;
    left: 50px;
	font-family: "Arial Black", Gadget, sans-serif;
}

#default_port {
    position: absolute;
    left: 50px;
    top: 90px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

#default_ip {
    position: absolute;
    left: 50px;
    top: 140px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black
}

#defualt_password {
    position: absolute;
    left: 53px;
    top: 190px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black
}

#Ingresar {
    position: absolute;
    left: 50px;
    top: 530px;
    width: 135px;
    height: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: rgb(50, 155, 215);
}


input {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    width: 240px;
    height: 35px;
}


#ipAddress {
    position: absolute;
    left: 50px;
    top: 270px;
	font-family: "Courier New", Courier, monospace;
}

#labelIpAddress {
    position: absolute;
    left: 53px;
    top: 230px;
    font-size: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


#password {
    position: absolute;
    left: 53px;
    top: 470px;
	font-family: "Courier New", Courier, monospace;
}

#labelPassword {
    position: absolute;
    left: 53px;
    top: 430px;
    font-size: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


#port {
    position: absolute;
    left: 50px;
    top: 370px;
	font-family: "Courier New", Courier, monospace;
}

#labelPort {
    position: absolute;
    left: 53px;
    top: 330px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
}
